@font-face {
    font-family: "Bookman Old Style";
    src: url("fonts/4267d8aa8711bb8c72cbefb26066c9e0.eot"); /* IE9*/
    src: url("fonts/4267d8aa8711bb8c72cbefb26066c9e0.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/4267d8aa8711bb8c72cbefb26066c9e0.woff2") format("woff2"), /* chrome firefox */
    url("fonts/4267d8aa8711bb8c72cbefb26066c9e0.woff") format("woff"), /* chrome firefox */
    url("fonts/4267d8aa8711bb8c72cbefb26066c9e0.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("fonts/4267d8aa8711bb8c72cbefb26066c9e0.svg#Bookman Old Style") format("svg"); /* iOS 4.1- */
}
